* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

@mixin conjunto {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

p {
  @include conjunto();
}

a {
  text-decoration: none;
}

/*----------------------------------------------------------General----------------------------------------------------------*/

/*-----------------------------Navbar-----------------------------*/
.navbar-edit {
  background-color: rgb(42, 46, 141) !important;
}

.navbar-toggler-edit {
  border: none;
}

.logo {
  width: 14rem;
  margin-left: 0.5rem;
}

/*-------------------------Footer-------------------------*/

.footer-page {
  width: 100%;
  background-color: rgb(42, 46, 141);

  .grupo1pie {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 45px 0px;

    .box figure {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

figure img {
  width: 200px;
  border-radius: 2px;
}

.footer-page .grupo1pie .boxFooter h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.footer-page .grupo1pie .boxFooter p {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  text-align: center;
}

.redSocial {
  display: flex;
  justify-content: center;
}

.footer-page .grupo2pie {
  background-color: rgb(37, 13, 124);
  padding: 10px 15px;
  text-align: center;
}

/*----------------------------------------------------------Inicio----------------------------------------------------------*/

/*-----------------------------Main (First Section)-----------------------------*/

.main {
  padding-top: 1rem;

  .imagen-portada {
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(136, 135, 135, 0.774);
    background-blend-mode: soft-light;
    background-image: rgb(180, 177, 177);
    background-position: 0% 170%;
    background-image: linear-gradient(
        0deg,
        rgba(107, 106, 106, 0.349) 0%,
        rgb(124, 124, 124) 100%
      ),
      url(../img/photo-1448630360428-65456885c650.avif);
  }
}

.boton {
  padding: 0.4rem;
  border: solid rgb(0, 0, 0);
  border-width: 0.1rem;
  display: inline-block;
  border-radius: 3.5px;
  font-weight: 800px;
  background-color: rgba(88, 85, 85, 0.644);

  &:hover {
    padding: 0.6rem 0.6rem;
    transition: all 0.2s linear;
  }

  .contactanos {
    margin-bottom: 0rem;
  }
}

.second-div-main {
  display: flex;
}

/*-----------------------------Main (Second Section)-----------------------------*/

.container-edit {
  margin-top: 5rem;
  margin-bottom: 8rem;
  .row-edit {
    text-decoration: none;
    margin-left: 2rem;
    .col-edit {
      padding: 0.8rem;
      .text-second-div {
        color: rgb(94, 94, 94);
      }
    }
  }
}

.title-second-div:hover {
  background-color: rgb(204, 204, 204);
  border-radius: 0.2rem;
}

.sec-div {
  margin-bottom: 2.5rem;
}

/*----------------------------------------------------------Preguntas frecuentes----------------------------------------------------------*/

.accordion-edit {
  padding: 5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.title-faq {
  font: inherit;
  margin-top: 4rem;
  padding: 4rem;
  background-color: rgb(243, 241, 241);
  text-align: center;
}

/*----------------------------------------------------------Contacto----------------------------------------------------------*/

.section-acesorarse {
  .imagen-portada-acesorarse {
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-size: cover;
    background-color: rgb(105, 105, 105);
    background-blend-mode: soft-light;
    background-image: rgb(255, 255, 255);
    background-attachment: fixed;
    background-image: linear-gradient(
        0deg,
        rgba(107, 106, 106, 0.349) 0%,
        rgba(255, 255, 255, 0.082) 100%
      ),
      url(../img/img-acesorarse.jpg);
  }
}

.boton {
  padding: 0.4rem;
  border: solid rgb(0, 0, 0);
  border-width: 0.1rem;
  display: inline-block;
  border-radius: 3.5px;
  font-weight: 800px;
  background-color: rgba(88, 85, 85, 0.644);

  &:hover {
    padding: 0.6rem 0.6rem;
    transition: all 0.2s linear;
  }

  .contactanos {
    margin-bottom: 0rem;
  }
}

.second-div-main {
  display: flex;
}

.text-div {
  padding: 5rem 30rem 0rem 5rem;
}

.btn-contacto {
  margin: 1rem 0rem 2rem 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 4rem;
  background-color: rgb(67, 170, 92);
  font-size: 20px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3 ease all;
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
    transition: 0.3 ease all;
  }
}

.btn-contacto::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(68, 151, 86);
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
  transition: 0.3s ease-in-out all;
}

.btn-contacto:hover::after {
  top: 0;
}

/*----------------------------------------------------------Donde encontrarnos----------------------------------------------------------*/

.text-div-de {
  margin: 7rem 7rem 0rem 7rem;
}

.div-card {
  margin: 3rem 3rem 3rem 7rem;
}

/*----------------------------------------------------------Productos----------------------------------------------------------*/

.div-text-products {
  margin-top: 4rem;
  padding: 3rem;
  h1 {
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
  }
  h1::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: black;
    top: 50%;
    z-index: -1;
  }
}
body {
  background-color: #ecf4fb;
}

h1 span {
  background-color: #ecf4fb;
  padding: 0 15px;
}
.img-gallery {
  width: 80%;
  margin: 1px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
}
.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition: 1s;
}
.img-gallery img:hover {
  transform: scale(1.2);
}
.ful-img {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ful-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.ful-img img {
  width: 90%;
  max-width: 600px;
}
@media screen and (max-width: 400px) {
  h1::before {
    display: none;
  }
  h1 span {
    padding: 0;
  }
}
/*----------------------------------------------------------Media queries----------------------------------------------------------*/

/*----------------------------------------------------------Contacto----------------------------------------------------------*/

@media screen and (max-width: 1084px) {
  .text-div {
    padding: 2rem;
  }
  .imagen-portada-acesorarse {
    margin-top: 5rem;
    height: 60vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background-size: cover;
    background-color: rgb(105, 105, 105);
    background-blend-mode: soft-light;
    background-image: rgb(255, 255, 255);
    background-attachment: fixed;
    background-image: linear-gradient(
        0deg,
        rgba(107, 106, 106, 0.349) 0%,
        rgba(255, 255, 255, 0.082) 100%
      ),
      url(../img/img-acesorarse.jpg);
  }
  .form-edit {
    padding: 0rem 2rem 2rem 2rem;
  }
}

/*----------------------------------------------------------Donde encontrarnos----------------------------------------------------------*/

@media screen and (max-width: 470px) {
  .text-div-de {
    margin: 10rem 2rem 2rem 2rem;
  }

  .div-card {
    margin: 1rem;
  }
}

/*----------------------------------------------------------Productos----------------------------------------------------------*/

@media screen and (max-width: 1000px) {
  .div-text-products {
    margin: 7rem 7rem 5rem 1rem;
    text-justify: auto;
  }

  .container-products-edit {
    margin-bottom: 5rem;
    justify-content: center;
  }
}

@media screen and (max-width: 330px) {
  .div-text-products {
    margin: 7rem 1rem 1rem 1rem;
    text-justify: auto;
  }

  .container-products-edit {
    margin-bottom: 5rem;
    margin-left: 1rem;
    justify-content: center;
  }
}
